* {
  margin: 0px;
  padding: 0px;
}

body {
  margin-top: 10px;
  margin-left: 260px;
  margin-right: 120px;
  background-color: #2b2923;
}
.navigation-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.logo > img {
  height: 45px;
  width: 90px;
}

.item-1,
.item-2,
.item-3,
.item-4 {
  color: #a8a69f;
  margin-left: 60px;
}

.items {
  margin-left: 160px;
  display: flex;
  flex-direction: row;
}

.item-5-button > button {
  margin-left: 60px;
  border-style: solid;
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  border-color: #a77b06;
  border-radius: 6px;
  border-width: 2px;
  background-color: #2b2923;
  color: #a77b06;
}

.main-section {
  display: flex;
  flex-direction: row;
  gap: 200px;
  margin-bottom: 54px;
}

.left-main-section {
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.right-main-section {
  padding-top: 20px;
  color: white;
  font-size: 18px;
}

.footer-section > img {
  width: 1000px;
  height: 450px;
}
